.nav {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  button {
    flex: 1;
    border-radius: 0;
    padding: 8px 10px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    display: block;
    &:hover {
      background-color: #ddd;
    }
    &.active,
    &:focus {
      background-color: black;
      color: white;
    }
  }
}
